*{
    background-color: black;
}

header {
    display: inline-block;
    width: 100%;
    padding: 20px 20px;
}
/* 
.logo{
    
} */
img.logo{
    height: 56.44px;
    width: 182.9px;
}

.navbar{
    float: right;
    margin: 20px 0px;
}

.navbar a{
    padding: 0px 10px;
    font-family: "";
    font-size: 24sp;
    text-decoration: none;
    color: white;   
}

.tagline p{
    font-size: 24sp;
    color: white;
    padding: 0px 20px;
}

.banner .banner1{
    width: 500px;
    height: 500px;
    float: left;
}

.banner .banner2{
    margin-top: 200px;
    width: 500px;
    height: 500px;
    float: right;
}

